* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}
body {
  overflow-x: hidden;
}
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 0 6px 0;
}
.header-container__top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
}
.header-container__top-left {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.header-container__top-left p {
  font-size: 14px;
  font-weight: 300px;
}
.header-container__top-left img {
  width: 18px;
  height: 18px;
  margin-left: 5px;
  margin-top: 3px;
}
.header-container__top-right {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
.header-container__top-right img {
  margin-right: 15px;
  cursor: pointer;
}
.header-container__bottom {
  width: 100%;
  display: grid;
  place-content: center;
  place-items: center;
  grid-template-columns: 0.3fr 1fr 0.3fr;
  grid-template-rows: 1fr;
  padding: 5px;
}
.logo {
  width: 146px;
  height: 45px;
}
.header-container__nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.header-container__nav ul li a {
  width: 200px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 200;
  color: #000;
  margin-right: 20px;
  letter-spacing: 1px;
  transition: 0.4s;
}
.header-container__nav ul li a:hover {
  color: black;
  font-weight: 400;
  border-bottom: 2px solid #000;
  transform: scale(1.1);
}
form {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 220px;
  height: 35px;
  border: 1px solid #c2c2c2;
  border-radius: 8px;
}
form img {
  width: 18px;
  margin-left: 5px;
}
form input {
  width: 100%;
  outline: none;
  border: none;
  text-transform: uppercase;
  padding: 5px;
  background-color: transparent;
}
.header-mobile {
  display: none;
}
.header-mobile__top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
}
.header-mobile__top .logo {
  width: 115px;
  height: 33px;
}
.header-mobile_top-icons {
  margin-right: 10px;
}
.header-mobile_top-icons img {
  margin-right: 15px;
  cursor: pointer;
}
.search-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 0px 0px;
}
.main-slider {
  padding-top: 10px;
}
.slider-info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  background-color: #78020a;
  color: white;
}
.slider-info h3 {
  font-size: 16px;
}
/*---*/
.slider {
  position: relative;
  width: 100%;
}
.slider .slide {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider .slide img {
  width: 100%;
  height: 450px;
  object-position: center;
  object-fit: fill;
}
.banner-mobile {
  display: none;
}
.navigation {
  position: absolute;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 35px;
  transition: opacity 0.4s ease-in;
  opacity: 0;
  z-index: 2000;
}
.slider:hover .navigation {
  opacity: 1;
}
.navigation .prev-btn,
.navigation .next-btn {
  width: 40px;
  height: 50px;
  z-index: 900;
  color: #222;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
.prev-btn {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.next-btn {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.navigation span .arrow-next,
.navigation span .arrow-prev {
  color: #222;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.grid-container {
  width: 100%;
  padding: 50px 10px 25px 10px;
}
.grid-collection {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  scroll-behavior: smooth;
}
.grid-collection img {
  width: 350px;
  flex: 1 0 auto;
  margin: 0 20px;
}
.product-container {
  width: 100%;
  height: auto;
  padding: 0px 25px 10px 25px;
  margin-top: 15px;
}
.subtitle {
  font-size: 18px;
  font-weight: 400;
  text-decoration: underline;
  text-transform: uppercase;
}
.carousel-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}
.carousel-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: auto;
  margin-left: 40px;
}
.owl-carousel .owl-nav button.owl-prev {
  border: none;
  padding: 0 !important;
  font: inherit;
  position: absolute;
  top: 0%;
  width: 40px;
  height: 300px;

  color: black;
  font-size: 3rem;
  box-shadow: 2px 0px 5px -1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
.owl-carousel .owl-nav button.owl-next {
  border: none;
  padding: 0 !important;
  font: inherit;
  position: absolute;
  top: 0%;
  right: 0;
  width: 40px;
  height: 300px;

  color: black;
  font-size: 3rem;
  box-shadow: -2px 0px 5px -1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
.owl-dots {
  display: none;
}
.carousel-card h3 {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
}
.carousel-card-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.carousel-card-info span {
  font-size: 16px;
  font-weight: 300;
  color: #c2c2c2;
  text-decoration: line-through;
  margin-right: 8px;
}
.carousel-card-info p {
  font-size: 20px;
  color: black;
  margin-top: 10px;
}

/*-Animación NavLinks*/

.link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link::before,
.link::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.25s;
}
.link::before {
  top: -3px;
  transform-origin: left;
}
.link::after {
  bottom: -3px;
  transform-origin: right;
}
.link:hover::before,
.link:hover::after {
  transform: scaleX(1);
}

/*-----*/
