* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}
:root {
  --main-color: #282c34;
  --secondary: #78020a;
  --button-color: #d3d2d2;
  --text-color-1: #fff;
  --text-color-2: #000;
  --dimWhite: rgba(255, 255, 255, 0.7);
}
body {
  overflow-x: hidden;
}
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 0 6px 0;
}
.header-container__top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
}
.header-container__top-left {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.header-container__top-left p {
  font-size: 14px;
  font-weight: 300px;
}
.header-container__top-left img {
  width: 18px;
  height: 18px;
  margin-left: 5px;
  margin-top: 3px;
}
.header-container__top-right {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
.header-container__top-right img {
  margin-right: 15px;
  cursor: pointer;
}
.header-container__bottom {
  width: 100%;
  display: grid;
  place-content: center;
  place-items: center;
  grid-template-columns: 0.3fr 1fr 0.3fr;
  grid-template-rows: 1fr;
  padding: 5px;
}
.logo {
  width: 146px;
  height: 45px;
}
.header-container__nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.header-container__nav ul li a {
  width: 200px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: var(--text-color-2);
  margin-right: 40px;
  letter-spacing: 1px;
}
.header-container__nav ul li a:hover {
  border-bottom: 1px solid #000;
}
form {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 220px;
  height: 35px;
  border: 1px solid #c2c2c2;
  border-radius: 8px;
}
form img {
  width: 18px;
  margin-left: 5px;
}
form input {
  width: 100%;
  outline: none;
  border: none;
  text-transform: uppercase;
  padding: 5px;
  background-color: transparent;
}
.header-mobile {
  display: none;
}
.header-mobile__top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
}
.header-mobile__top .logo {
  width: 115px;
  height: 33px;
}
.header-mobile_top-icons {
  margin-right: 10px;
}
.header-mobile_top-icons img {
  margin-right: 15px;
  cursor: pointer;
}
.search-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 0px 0px;
}
.main-slider {
  padding-top: 10px;
}
.slider-info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  background-color: var(--secondary);
  color: var(--text-color-1);
}
.slider-info h3 {
  font-size: 16px;
}
.slider {
  position: relative;
  width: 100%;
}
.slider .slide {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider .slide img {
  width: 100%;
  height: 480px;
  object-position: center;
  object-fit: fill;
}
.banner-mobile {
  display: none;
}
.navigation {
  position: absolute;
  width: 100%;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 35px;
  transition: opacity 0.4s ease-in;
  opacity: 0;
  z-index: 2000;
}
.slider:hover .navigation {
  opacity: 1;
}
.navigation .prev-btn,
.navigation .next-btn {
  width: 40px;
  height: 50px;
  z-index: 900;
  color: var(--text-color-2);
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
.prev-btn {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.next-btn {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.navigation span .arrow-next,
.navigation span .arrow-prev {
  color: var(--text-color-2);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.grid-container {
  width: 100%;
  padding: 50px 10px 25px 10px;
}
.grid-collection {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  scroll-behavior: smooth;
  padding-left: 15px;
  padding-right: 15px;
}
.grid-collection img {
  width: 350px;
  flex: 1 0 auto;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.4s;
}
.grid-collection img:hover {
  transform: scale(1.1);
}
.product-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 15px 10px 15px;
  margin-top: 15px;
}
.subtitle {
  font-size: 18px;
  font-weight: 400;
  text-decoration: underline;
  text-transform: uppercase;
  padding-left: 25px;
}
.carousel-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}
.carousel-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 350px;
  padding-left: 30px;
}
.owl-carousel .owl-nav button.owl-prev {
  border: none;
  padding: 0 !important;
  position: absolute;
  top: 0%;
  width: 40px;
  height: 300px;
  color: var(--text-color-2);
  font-size: 2.4rem;
  border-radius: 0px 8px 8px 0px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  cursor: pointer;
}
.owl-carousel .owl-nav button.owl-next {
  border: none;
  padding: 0 !important;
  position: absolute;
  top: 0%;
  right: 0;
  width: 40px;
  height: 300px;
  color: var(--text-color-2);
  font-size: 2.4rem;
  border-radius: 8px 0px 0px 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  cursor: pointer;
}
.owl-dots {
  display: none;
}
.carousel-card h3 {
  height: 70px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
}
.carousel-card-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.carousel-card-info span {
  font-size: 16px;
  font-weight: 300;
  color: #6f6c6c;
  text-decoration: line-through;
  margin-right: 8px;
}
.carousel-card-info p {
  font-size: 20px;
  font-weight: 600;
  color: var(--text-color-2);
  margin-top: 10px;
}
.categories-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 25px;
}
.categories-container .categories-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.categories-container .categories-grid .category-card {
  width: auto;
  margin-top: 15px;
  cursor: pointer;
}
.categories-container .categories-grid .category-card h4 {
  font-size: 18px;
  font-weight: 300;
  text-decoration: underline;
  margin-left: 10px;
}
.categories-container .categories-grid .category-card img {
  width: 215px;
}
footer {
  width: 100%;
  height: auto;
}
.footer-container {
  display: grid;
  grid-template-columns: 2.2fr repeat(2, 1.5fr) 0.5fr;
  gap: 10px;
  background-color: #eeeeee;
  padding: 20px;
}
.footer-container .footer-subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.footer-container .footer-subscribe h3 {
  font-size: 18px;
  font-weight: 400;
  color: var(--text-color-2);
  padding: 10px;
}
.footer-container .footer-subscribe p {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-color-2);
  padding: 10px;
}
.footer-container .footer-subscribe form {
  width: 100%;
  height: 30px;
  border: none;
  padding: 10px;
}
.footer-container .footer-subscribe input {
  width: 100%;
  font-size: 12px;
  font-weight: 200;
}
.footer-container .footer-subscribe .footer-conditions {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 5px;
}
.footer-container .footer-subscribe .footer-conditions input {
  width: 20px;
  cursor: pointer;
}
.footer-container .footer-subscribe .footer-conditions p {
  width: 100%;
  font-size: 14px;
}
.footer-subscribe button {
  width: 100%;
  height: 35px;
  background-color: var(--button-color);
  border-radius: 6px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  box-shadow: 0px 2px 5px 0px rgba(79, 78, 78, 0.75);
  cursor: pointer;
  transition: 0.5s;
}
.footer-subscribe button:hover {
  color: var(--text-color-1);
  background-color: var(--secondary);
}
.footer-subscribe button:hover {
  transform: scaleY(1.1);
}
.footer-info,
.footer-stores {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-left: 15px;
}
.footer-social-media {
  padding-top: 10px;
}
.footer-info h4,
.footer-stores h4,
.footer-social-media h4 {
  font-size: 18px;
  font-weight: 400;
}
.footer-info__list,
.footer-stores__list {
  display: flex;
  align-items: center;
}
.footer-info__list ul,
.footer-stores__list ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.footer-info__list ul li,
.footer-stores__list ul {
  padding-top: 5px;
  padding-right: 20px;
}
.footer-info__list ul li a,
.footer-stores__list ul li a {
  font-size: 14px;
  font-weight: 200;
  color: var(--text-color-2);
  text-decoration: none;
  letter-spacing: 1px;
  transition: 0.4s;
  margin-top: 55px;
}
.footer-social-media__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}
.footer-social-media__icons img {
  margin-right: 10px;
}
.copyright {
  text-align: center;
  font-size: 12px;
  font-weight: 200;
  padding: 10px;
}

/*Menu Mobile*/

.menu-mobile {
  display: none;
  transition: right 0.5s ease;
}
.nav {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  width: 300px;
  height: 100vh;
  background-color: var(--text-color-1);
  z-index: 50000;
  transition: right 0.5s ease;
}
.nav-logos {
  display: flex;
  border-bottom: 1px solid black;
  margin-right: 60px;
}
.nav-logos img {
  width: 120px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav__link {
  color: var(--text-color-2);
  display: block;
  padding: 15px 0;
  text-decoration: none;
}
.nav__link--inside {
  border-radius: 6px;
  padding-left: 20px;
  padding-bottom: 30px;
  text-align: left;
}
.list {
  position: fixed;
  width: 370px;
  height: 100vh;
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  border-radius: 0 16px 16px 0;
  background: var(--text-color-1);
}
.list__item {
  border-bottom: 1px solid black;
  list-style: none;
  width: 80%;
  text-align: center;
  overflow: hidden;
}
.list__item--click {
  cursor: pointer;
}
.list__button {
  display: flex;
  align-items: center;
  gap: 18px;
  width: 70%;
  margin: 0 auto;
}
.list__icons {
  position: absolute;
  right: 120px;
}
.arrow .list__arrow {
  transform: rotate(90deg);
}
.list__arrow {
  margin-left: auto;
  transition: transform 0.3s;
}
.list__show {
  width: 80%;
  margin-left: auto;
  list-style: none;
  transition: height 0.4s;
  height: 0;
}
.sales-title {
  width: 100%;
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid black;
}
.sales-title h2 {
  font-size: 18px;
  text-decoration: underline;
  margin-left: 45px;
}
.active,
.show {
  display: block;
  transition: right 0.5s ease;
}
.nav-logos .cancel-icon {
  width: 45px;
  cursor: pointer;
}

/*Menu Mobile*/
