@media screen and (min-width: 320px) and (max-width: 768px) {
  .header-container__top-left {
    justify-content: end;
  }
  .header-container__top-right {
    display: none;
  }
  .header-container__bottom {
    display: none;
  }
  .header-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header-container__nav ul {
    display: none;
  }
  form {
    width: 92vw;
    margin-left: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 920px) {
  .logo {
    width: 130px;
  }
  .header-container__nav ul li a {
    font-size: 16px;
    margin-right: 12px;
  }

  form {
    width: 200px;
  }
}
