@media screen and (min-width: 320px) and (max-width: 480px) {
  .categories-container .categories-grid .category-card img {
    width: 150px;
  }
  .categories-container .categories-grid .category-card h4 {
    font-size: 14px;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .header-container__top-left {
    justify-content: end;
  }
  .header-container__top-left p {
    font-size: 12px;
  }
  .header-container__top-right {
    display: none;
  }
  .header-container__bottom {
    display: none;
  }
  .header-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header-container__nav ul {
    display: none;
  }
  form {
    width: 90vw;
    display: flex;
  }
  form img {
    margin-right: 15px;
  }
  .slider .slide img {
    width: 100vw;
    height: auto;
  }
  .banner-desktop {
    display: none;
  }
  .banner-mobile {
    display: flex;
    object-fit: cover;
  }
  .grid-container {
    padding: 20px 0 50px 0;
  }
  .grid-collection {
    scroll-behavior: smooth;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  .grid-collection img {
    width: 300px;
    flex: 1 0 auto;
    margin: 0 8px;
    scroll-snap-align: center;
  }
  .product-container {
    padding: 0px;
  }
  .carousel-card {
    width: 200px;
    margin-left: 0px;
  }
  .carousel-card h3 {
    width: 150px;
    font-size: 16px;
  }
  .owl-carousel .owl-nav button.owl-prev {
    width: 40px;
    height: 200px;
    font-size: 3rem;
  }
  .owl-carousel .owl-nav button.owl-next {
    width: 40px;
    height: 200px;
    font-size: 3rem;
  }
  .footer-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr repeat(2, 1fr) 0.5fr;
    background-color: #fff;
    padding: 0;
  }
  .footer-container .footer-subscribe {
    background-color: #eeeeee;
    padding: 15px;
  }
  .footer-info,
  .footer-stores,
  .footer-social-media {
    display: grid;
    place-content: center;
    background-color: #fff;
    padding: 0px;
    margin-top: 15px;
  }
  .footer-stores {
    margin-right: 40px;
  }
  .footer-social-media__icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-social-media__icons img {
    margin-right: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 920px) {
  .logo {
    width: 130px;
  }
  .header-container__nav ul li a {
    font-size: 16px;
    margin-right: 12px;
  }

  form {
    width: 200px;
  }
  .slider .slide img {
    height: 350px;
    object-fit: fill;
  }
  .footer-social-media__icons img {
    margin-top: 10px;
  }
  
}
@media screen and (min-width: 768px) and (max-width: 1160px) {
  .header-container__nav ul li a {
    margin-right: 20px;
  }
  .grid-container {
    padding: 20px 0 50px 0;
  }
  .grid-collection {
    scroll-behavior: smooth;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  .grid-collection img {
    width: 300px;
    flex: 1 0 auto;
    margin: 0 8px;
    scroll-snap-align: center;
  }
  .carousel-card h3 {
    width: 150px;
    font-size: 16px;
  }
  .categories-grid {
    display: flex;
    flex-wrap: wrap;
  }
}
